# virtual environment directories
/.env/
/.venv/
/env/
/venv/

# previous input and output files
/upml_names.txt
/upml.txt

# new possible input and output filenames
/names.txt
/names
/in
/input
/result.txt
/result
/out
/output

# vim swp files
.*.swp

# python cache files
__pycache__/
*.pyc
